.table::-webkit-scrollbar {
  display: none;
}

.table {
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: relative;
  border-radius: 20px;
  box-shadow: 0px 2px 3px 0px #b1b1b1;
  margin-bottom: 16px;
  max-height: 75vh;
  overflow: auto;
  padding-top: 0px;
}

.table_head {
  position: sticky;
  top: 0px;
}
