.nav {
  height: fit-content;
  min-height: 90vh;
  top: 20px;
  left: 10px;
  border-radius: 10px;
  box-shadow:rgb(167 167 167) 1px 2px 12px 0px ;
  overflow: initial;
  padding: 12px;
}

.icon {
  position: absolute;
  right: -10px;
  top: 20px;
  background: #fff;
  border-radius: 50px;
  box-shadow: rgb(167 167 167) 1px 1px 5px 0px;
  cursor: pointer;
  padding: 2px;
}
