.navbar {
  display: flex;
  flex-direction: column;
  padding: 12px;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 1px 2px 8px 1px #dcdbdb;
}

.section {
  margin-bottom: var(--mantine-spacing-md);

  &:not(:last-of-type) {
    border-bottom: 1px solid var(--mantine-color-gray-5);
  }
}

.mainLinks {
  padding-left: calc(var(--mantine-spacing-md) - var(--mantine-spacing-xs));
  padding-right: calc(var(--mantine-spacing-md) - var(--mantine-spacing-xs));
  padding-bottom: var(--mantine-spacing-md);
}

.mainLink {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: var(--mantine-font-size-sm);
  padding: 8px var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  font-weight: 500;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));

  &:hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  }
}

.mainLinkInner {
  display: flex;
  align-items: center;
  flex: 1;
}

.mainLinkIcon {
  margin-right: var(--mantine-spacing-sm);
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-2));
}

.mainLinkBadge {
  padding: 0;
  width: 20px;
  height: 20px;
  pointer-events: none;
}
